  	<div class="cal-head cal-row">
		<div class="cal-cell-head cal-cell-info"> </div>
		<div class="cal-cell-head"> <%= globals.day_names.d0 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d1 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d2 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d3 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d4 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d5 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d6 %>  </div>
	</div>

	<div class="cal-body">
		
		<%	for(var i=calendar.cur_weekID; i<calendar.cur_weekID+calendar.cal_height; i++){ %>

		<% if(i==0) { %>
		
		<div class="cal-row cal-row-today">
		
		<% } else { %>
		
		<div class="cal-row">
		
		<% } %>


			<div class="cal-cell-info"> 
				<div class="cal-innercell-week_range">
					<%= calendar.activities[i].week_range %>
				</div>

				<div class="cal-innercell-total_week_distance" %>
					<%= (calendar.activities[i].total_week_distance * globals.conversionfactor_distance).toFixed(1) %> <%= globals.units_distance %>
				</div>

				<div class="cal-innercell-total_week_elevation" %>
					<%= (calendar.activities[i].total_week_elevation * globals.conversionfactor_elevation).toFixed(0) %> <%= globals.units_elevation %>
				</div>
			</div>


			<% for(var j=0; j<7; j++) { %>	
				<div class="cal-cell-day" weekID="<%= i %> " dayOfTheWeek="<%= j %>" data-toggle="popover" tabindex="0" data-placement="top">
					<% if(calendar.activities[i].activities[j].length == 1) { %>
						<div class=cal-innercell-1of1acts>
							<%= (calendar.activities[i].activities[j][0].distance * globals.conversionfactor_distance).toFixed(1) %>
						</div>

					<% } else if(calendar.activities[i].activities[j].length == 2) { %>

						<div class=cal-innercell-1of2acts>
							<%= (calendar.activities[i].activities[j][0].distance * globals.conversionfactor_distance).toFixed(1) %>
						</div>

						<div class=cal-innercell-2of2acts>
							<%= (calendar.activities[i].activities[j][1].distance * globals.conversionfactor_distance).toFixed(1) %>
						</div>

					<% } else if(calendar.activities[i].activities[j].length > 2) { %>
						<div class=cal-innercell-1of2acts>
							<%= (calendar.activities[i].activities[j][0].distance * globals.conversionfactor_distance).toFixed(1) %>
						</div>

						<div class=cal-innercell-2of2acts>
							<%= (calendar.activities[i].activities[j][1].distance * globals.conversionfactor_distance).toFixed(1) %>
						</div>

						<div class=cal-innercell-morelabel>
							More...
						</div>

					<% } %>
				</div>
			<%	}  %> 
			
			</div>
		<% } %>
	</div>