  	<div class="cal-row cal-head">
		<div class="cal-cell-head cal-cell-info"> </div>
		<div class="cal-cell-head"> <%= globals.day_names.d0 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d1 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d2 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d3 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d4 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d5 %>  </div>
		<div class="cal-cell-head"> <%= globals.day_names.d6 %>  </div>
	</div>

	<div class="cal-body">
		
		<%	for(var i=0; i<templateData.height; i++){ %>

		<div class="cal-row">
			<div class="cal-cell-info"> Some info !!!!! </div>
			<div class="cal-cell-day"> 1 </div>
			<div class="cal-cell-day"> 2 </div>
			<div class="cal-cell-day"> 3 </div>
			<div class="cal-cell-day"> 4 </div>
			<div class="cal-cell-day"> 5 </div>
			<div class="cal-cell-day"> 6 </div>
			<div class="cal-cell-day"> 7 </div>
		</div>


		<% } %>
		</div>

	</div>